@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: gray;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #1E1F29;
  height: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.top-header-left, ul.top-header-right {
  margin: 0;
}

i {
  color: #fff;
}

ul li {
  list-style-type: none;
  display: inline;
  padding-left: 1.5em;
}

.fas, .fab {
  color: #66B933;
}

/* unvisited link */
a:link {
  color: #fff;
}

/* visited link */
a:visited {
  color: #fff;
}

/* mouse over link */
a:hover {
  color: #66B933;
  text-decoration: none;
  -webkit-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

/* selected link */
a:active {
  color: #fff;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__links li {
  padding: 5px 20px;
}

.nav__links li a:hover {
  color: #66B933;
}

ul.nav__links {
  margin: 0;
  font-size: 20px;
}

a.nav__rechts {
  font-size: 20px;
}

nav.right a {
  padding-left: 1em;
  padding-right: 1em;
}

.cta {
  padding: 9px 25px;
  background-color: #66B933;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

a.cta {
  visibility: hidden;
}

/* Mobile Nav */
.menu {
  display: none;
}

p.menu {
  color: #24252a;
  margin: 0;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay a {
  padding: 10px;
  font-size: 36px;
  display: block;
}

.overlay a:hover,
.overlay a:focus {
  color: #66B933;
  cursor: pointer;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

button.dropbtn {
  background-color: #66B933;
  color: #24252a;
  padding: 5px 10px;
}

.dropbtn {
  background-color: #24252a;
  color: white;
  border: none;
  border-radius: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #24252a;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #66B933;
  color: #24252a;
  border-radius: 8px;
  -webkit-transition: color 0s ease 0s;
  transition: color 0s ease 0s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #24252a;
}

.board h2 {
  text-align: center;
  padding: 1em;
  margin: 0;
  font-size: 40px;
  text-decoration: underline;
  font-style: italic;
}

figure.card {
  min-height: 600px;
}

.row {
  padding: 3em;
  padding-top: 0;
  margin: 0;
}

.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 220px;
  text-align: center;
  padding: 1em;
}

.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee;
}

.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee;
}

.label-rating {
  margin-right: 10px;
  color: #333;
  display: inline-block;
  vertical-align: middle;
}

.card-product .price-old {
  color: #999;
}

.btn-primary {
  background-color: #66B933;
  color: #24252a;
  border-color: #66B933;
}

.btn-primary:hover {
  background-color: #66B933;
}

.btn-primary:visited {
  background-color: #66B933;
}

.col-item {
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  background: #FFF;
}

.col-item .photo img {
  margin: 0 auto;
  width: 100%;
}

.col-item .info {
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: 1px;
}

.col-item:hover .info {
  background-color: #F5F5DC;
}

.col-item .price {
  /*width: 50%;*/
  float: left;
  margin-top: 5px;
}

.col-item .price h5 {
  line-height: 20px;
  margin: 0;
}

.price-text-color {
  color: #219FD1;
}

.col-item .info .rating {
  color: #777;
}

.col-item .rating {
  /*width: 50%;*/
  float: left;
  font-size: 17px;
  text-align: right;
  line-height: 52px;
  margin-bottom: 10px;
  height: 52px;
}

.col-item .separator {
  border-top: 1px solid #E1E1E1;
}

.clear-left {
  clear: left;
}

.col-item .separator p {
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}

.col-item .separator p i {
  margin-right: 5px;
}

.col-item .btn-add {
  width: 50%;
  float: left;
}

.col-item .btn-add {
  border-right: 1px solid #E1E1E1;
}

.col-item .btn-details {
  width: 50%;
  float: left;
  padding-left: 10px;
}

.controls {
  margin-top: 20px;
}

[data-slide="prev"] {
  margin-right: 10px;
}

footer {
  height: 100%;
  background-color: #24252a;
  padding: 1em;
}

footer .payment {
  text-align: center;
  padding: 1em;
}

footer .payment i {
  padding: 5px;
}

footer .copyright {
  text-align: center;
  color: white;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  header {
    padding: 1em;
  }
  .nav__links,
  .cta {
    display: none;
  }
  .nav__rechts {
    display: block;
    padding: 1rem;
  }
  a.nav__rechts {
    font-size: 15px;
  }
  .menu {
    display: initial;
  }
}
/*# sourceMappingURL=style.css.map */